<html>
  <head>
    <title>myGoNode</title>
  </head>
  <body>
    <form action="/auth" method="POST">
      <input type="text" name="username" />
      <input type="password" name="password" />
      <button type="submit">LogIn</button>
    </form>
  </body>
</html>